@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/

  /* primary/main color */
  --clr-primary-5: rgb(64, 169, 255);
  --clr-primary-6: rgb(0, 21, 41);
  /* lighter shades of primary color */

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.product-card {
  transition: var(--transition);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px var(--clr-primary-5);
}

@media screen and (min-width: 768px) {
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product-card {
    width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card {
    width: 300px;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.slider img {
  height: 450px;
  object-fit: cover;
}

.home {
  overflow-x: hidden;
}

.hero {
  width: 100%;
  min-height: 100vh;
  color: var(--clr-white);
  background: var(--clr-primary-6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.hero-banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  transition: var(--transition);
}

.hero-banner span {
  color: var(--clr-primary-5);
  font-size: 60px;
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 0.875rem;
  font-weight: 500;
  background: var(--clr-white);
  color: var(--clr-primary-5);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
  transition: var(--transition);
}
.hero-btn:hover {
  background: var(--clr-white);
  color: var(--clr-primary-5);
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgb(0, 21, 41, 0.8), rgba(0, 0, 0, 0.6)),
      url("./images/l4.jpg") center/cover no-repeat;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner h1:hover {
    transform: translateY(-5px);
  }
  .hero-btn:hover {
    transform: scale(1.1);
  }
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 2rem;
  }
}

.categories {
  background-color: var(--clr-primary-6);
}

.category {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}

.category p {
  font-size: 1rem;
  color: var(--clr-primary-5);
  max-width: 17rem;
  margin: 0 auto;
}

.category:hover {
  /* background: var(--clr-white); */
  box-shadow: 0 3px var(--clr-primary-5);
  transform: translateY(-3px);
}

@media screen and (min-width: 576px) {
  .categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .category {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 1200px) {
  .category {
    flex: 0 0 calc(14% - 1rem);
  }
}

.products-container {
  background: var(--clr-grey-10);
}

.rating {
  margin-top: 12px;
}

.rating i {
  margin-left: 0.1rem;
}

.offer-title h2 {
  color: var(--clr-primary-5);
}

.offer-text {
  color: var(--clr-grey-5);
  max-width: 20rem;
}

.offer-img {
  border-radius: var(--radius);
  margin-bottom: 2rem;
  height: 17rem;
  object-fit: cover;
}

.offer-btn {
  padding: 0.9rem 1.6rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: var(--clr-primary-6);
  color: var(--clr-white);
  transition: var(--transition);
}

.offer-info,
.offer-inventory {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2rem;
  }
  .offer-info,
  .offer-inventory {
    flex: 0 0 calc(50% - 2rem);
  }
}

@media screen and (min-width: 572px) {
  .collections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .collection-Laptop,
  .collection-Headset,
  .collection-Camera {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .collections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .collection-Laptop,
  .collection-Headset,
  .collection-Camera {
    flex: 0 0 calc(33.3% - 1.5rem);
  }
}

.collection-Laptop {
  background: linear-gradient(
      -47deg,
      rgba(0, 0, 0, 0) 45%,
      rgba(64, 169, 255, 0.9) 40%
    ),
    url("./images/l11.jpg") center/cover no-repeat;
  height: 17rem;
  transition: var(--transition);
}
.collection-Laptop:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.collection-Camera {
  background: linear-gradient(
      -47deg,
      rgba(0, 0, 0, 0) 45%,
      rgba(64, 169, 255, 0.9) 40%
    ),
    url("./images/c1.jpg") center/cover no-repeat;
  height: 17rem;
  transition: var(--transition);
}

.collection-Camera:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.collection-Headset {
  background: linear-gradient(
      -47deg,
      rgba(0, 0, 0, 0) 45%,
      rgba(64, 169, 255, 0.9) 40%
    ),
    url("./images/e1.jpg") center/cover no-repeat;
  height: 17rem;
  transition: var(--transition);
}

.collection-Headset:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* 576 768 998 1200 */
